{% extends 'portfolio/navigation.html' %}
{% block body %}
<h1>{{stock.symbol_field}}</h1>
<h1>{{stock.name_field}}</h1>
<h2>Sector: {{stock.sector_field}}</h2>
<h2>Current Price: ${{stock.price_field}}</h2>
<h2>Shares: {{stock.shares_field}}</h2>
<h2>Market Value: ${{stock.market_value}}</h2>
<h2>Currency: {{stock.currency_field}}</h2>
<form method="POST" action="{% url 'portfolio:sell' stock.id %}">
  {% csrf_token %}
  <input class="btn btn-primary" type="submit" value="Sell">
</form>

<form method="POST" action="">
  {% csrf_token %}
  <select name="filter" id="filter">
    <option value="7d">7 Day</option>
    <option value="1mo">1 Month</option>
    <option value="6mo">6 Month</option>
    <option value="1y">1 Year</option>
    <option value="max">Max</option>
  </select>
  <button class="btn btn-primary" type="submit">Filter</button>
</form>

{{ chart|safe }}

{% endblock %}