{% extends 'portfolio/navigation.html' %}
{% block body %}
<div class="header align">
    <div class="title">
        Portfolio
    </div>
    <div class="bottom-right">
        <a href="{% url 'portfolio:update' %}" class="btn btn-detail">Refresh Stocks</a>
    </div>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Market Value</th>
            <th scope="col">Gain</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in data %}
        <tr>
            <td class="table-detail"><a href="{% url 'portfolio:detail' stock.symbol_field %}" class="btn btn-detail">More Details</a></td>
            <td>{{stock.symbol_field}}</td>
            <td>{{stock.price_field}}</td>
            <td>{{stock.shares_field}}</td>
            <td>{{stock.market_value}}</td>
            <td>{{stock.net_gain}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="legend">
    <b>Symbol:</b> Symbol of the stock
    <br>
    <b>Price:</b> Current Value of 1 share
    <br>
    <b>Shares:</b> Number of shares you own
    <br>
    <b>Market</b> Value: Current value of all owned shares
    <br>
    <b>Gain:</b> Net gain of shares
</div>
{% endblock %}