{% extends 'portfolio/navigation.html' %}
{% block body %}
    <div class="header">
        <div class="title">
            Wallet
        </div>
        <div class="bottom-right">
            {% for money in data %}
            <div class="sub-title">${{money.money_field}}</div>
            {% endfor %}
        </div>
    </div>
    <div class="body">
        <hr>
        <form method="POST" action="/portfolio/add/" class="flex">
            {% csrf_token %}
            <input type="number" class="form-control fund" name="add" id="add" placeholder="Enter amount to add" step="0.01" min="0" >
            <button class="btn btn-detail" type="submit">Add Funds</button>
        </form>
        <form method="POST" action="/portfolio/withdraw/" class="flex mt-1">
            {% csrf_token %}
            <input type="number" class="form-control fund" name="withdraw" id="withdraw" placeholder="Enter amount to withdraw" step="0.01" min="0">
            <button class="btn btn-detail" type="submit">Withdraw Funds</button>
        </form>
    </div>

{% endblock %}