body {
    background-color: #c3c2be!important;
    font-family: sans-serif!important;
}

.navbar {
    background-color: #36454f !important;
}

.navbar-brand {
    padding-left: 10px !important;
    color: #ffffff !important;
}

.navbar-brand:hover {
    color: #eaa732 !important;
}

.nav-item {
    color: #ffffff !important;
}

.nav-item:hover {
    color: #eaa732 !important;
}
